<launch>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="iris"/>
  <arg name="headless" default="false"/>
  <arg name="gui" default="true"/>

  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="ns" default="iris"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find rotors_gazebo)/worlds/basic.world"/>
    <!-- <arg name="debug" value="true" /> -->
    <arg name="headless" value="$(arg headless)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>



    <include file="$(find docker)/launch/spawn_iris.launch">
      <arg name="ns" value="iris1"/>
      <arg name="model" value="$(find docker)/description/iris_base.xacro" />
      <arg name="log_file" value="iris1"/>
      <arg name="x" value="0"/>
      <arg name="y" value="0"/>
      <arg name="z" value="0.08"/>
    </include>
</launch>
