<launch>
  <arg name="ns"/>
  <arg name="model"/>
  <arg name="tf_prefix" default="$(optenv ROS_NAMESPACE)"/>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.08"/>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="$(arg log_file)"/>

  <arg name="suspended_load" default="false"/>
  <arg name="load_link_height" default="0.3"/> <!-- [m] -->
  <arg name="load_mass" default="0.3"/> <!-- [kg] -->
  
  <!-- <machine name="gazebo-machine" address="172.17.42.1" user="paul"/> -->

  <!-- send the robot XML to param server -->
  <param name="robot_description" command="
    $(find xacro)/xacro.py '$(arg model)' enable_logging:=$(arg enable_logging)
    enable_ground_truth:=$(arg enable_ground_truth) ns:=$(arg ns) suspended_load:=$(arg suspended_load) load_link_height:=$(arg load_link_height) load_mass:=$(arg load_mass)"
  />
  <param name="tf_prefix" type="string" value="$(arg tf_prefix)" />

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node  name="spawn_$(arg ns)" pkg="gazebo_ros" type="spawn_model"
   args="-param robot_description
         -urdf
         -x $(arg x)
         -y $(arg y)
         -z $(arg z)
         -model $(arg ns)"
   respawn="false" output="screen">
  </node>

</launch>
