<launch>
	<arg name="simulation"/>
	<arg name="ns"/>



	<group unless="$(arg simulation)" ns="$(arg ns)">
		<node name="iris_ssh" pkg="scenarios" type="connect.sh" args="$(arg ns) $(env ROS_IP) $(env ROS_MASTER_URI)" output="screen"/>
	</group>

	<group if="$(arg simulation)">
		<include file="$(find scenarios)/launch/iris/$(arg ns).launch">
			<arg name="simulation" value="$(arg simulation)"/>
			<arg name="launch" value="true"/>
		</include>
	</group>
</launch>