<launch>
  <arg name="enable_logging" default="false"/>
  <arg name="enable_ground_truth" default="true"/>
  <arg name="log_file" default="iris"/>
  <arg name="headless" default="false"/>
  <arg name="gui" default="true"/>

<!-- Set the ROS environment variables -->
<!-- Docker ip address, you can get them from 'ifconfig' (see docker0, inet addr) -->
  <env name="ROS_IP" value="172.17.42.1"/>
  <env name="ROS_HOSTNAME" value="172.17.42.1"/>

<!-- Simulation -->
  <arg name="simulation" default="true"/>

<!-- MOCAP -->
  <group if="$(arg simulation)">
   <include file="$(find mocap)/launch/mocap.launch">
        <arg name="simulation" value="$(arg simulation)"/>
    </include>
  </group>

<!-- IRIS 1 LAUNCH -->
  <include file="$(find scenarios)/launch/iris_nodes.launch">
    <arg name="ns" value="iris1"/>

    <arg name="simulation" default="$(arg simulation)"/>

    <arg name="suspended_load" value="false"/>
    <arg name="load_link_height" value="1"/> <!-- [m] -->
    <arg name="load_mass" value="0.1"/> <!-- [kg] -->

    <arg name="rviz" value="true"/> 
  </include>
  
  <group ns="iris1">
    <node name="arc" pkg="trajectory_generator" type="arc.py" output="screen"/>


    <node name="error_vis" pkg="controller" type="error_vis.py" respawn="true"/>
    
    <node name="rqt_plot_x_pos" pkg="rqt_plot" type="rqt_plot" args="error_vis/x_coord" respawn="true"/>
    <!-- <node name="rqt_plot_x_vel" pkg="rqt_plot" type="rqt_plot" args="error_vis/x_velocity" respawn="true"/>
    <node name="rqt_plot_y_pos" pkg="rqt_plot" type="rqt_plot" args="error_vis/y_coord" respawn="true"/>
    <node name="rqt_plot_y_vel" pkg="rqt_plot" type="rqt_plot" args="error_vis/y_velocity" respawn="true"/>
    <node name="rqt_plot_z_pos" pkg="rqt_plot" type="rqt_plot" args="error_vis/z_coord" respawn="true"/>
    <node name="rqt_plot_z_vel" pkg="rqt_plot" type="rqt_plot" args="error_vis/z_velocity" respawn="true"/>
 -->

  </group>

<!-- GUI -->
  <rosparam param="/gazebo/time_step">0.01</rosparam>
  <rosparam param="/gazebo/max_update_rate">100</rosparam>
  <include file="$(find scenarios)/launch/gui.launch">
    <arg name="simulation" default="$(arg simulation)"/>
  </include>

</launch>
