<launch>
  <arg name="simulation" default="true"/>

  <group if="$(arg simulation)">
	  <rosparam param="/body_array">[1,2,3,4,11,12,13,14]</rosparam>
	  <rosparam param="/body_names">["iris1","iris2","iris3","iris4","iris1::iris1/ground_truth/odometry_sensorgt_link","iris2::iris2/ground_truth/odometry_sensorgt_link","iris3::iris3/ground_truth/odometry_sensorgt_link","iris4::iris4/ground_truth/odometry_sensorgt_link"]</rosparam>
	<node name="ros_mocap" pkg="mocap" type="ros_mocap_sim.py" respawn="true" output="screen" launch-prefix="python -m cProfile -o /tmp/profile.log">
	</node>
  </group>
  <group unless="$(arg simulation)">
          <rosparam param="/frequency">30.</rosparam>
	  <rosparam param="/body_array">[8,16,17,20]</rosparam>

	  <rosparam param="/body_names">["iris1","iris2","iris3","iris4"]</rosparam>
	  <node name="ros_mocap" pkg="mocap" type="ros_mocap.py" respawn="true" output="screen">
	  </node>
  </group>

</launch> 
