<launch>
  <arg name="simulation" default="true"/>

  <group if="$(arg simulation)">
	  <rosparam param="/body_array">[1,2,3,4]</rosparam>
	  <rosparam param="/body_names">["iris1","iris2","iris3","iris4"]</rosparam>
	<node name="ros_mocap" pkg="mocap" type="ros_mocap_sim.py" respawn="true">
	</node>
  </group>
  <group unless="$(arg simulation)">
          <rosparam param="/frequency">30.</rosparam>
	  <rosparam param="/body_array">[17,8,16,20]</rosparam>
	  <rosparam param="/body_names">["iris1","iris2","iris3","iris4"]</rosparam>
	  <node name="ros_mocap" pkg="mocap" type="ros_mocap.py" respawn="true" output="screen">
	  </node>
  </group>

</launch> 
