<launch>
  <arg name="simulation" default="true"/>

  <group if="$(arg simulation)">
	  <rosparam param="/body_array">[1,2,3,4,11,12,13,14]</rosparam>
	  <rosparam param="/body_names">["iris1::base_link","iris2::base_link","iris3::base_link","iris4::base_link","iris1::iris1/load_pose/odometry_sensorgt_link","iris2::iris2/load_pose/odometry_sensorgt_link","iris3::iris3/load_pose/odometry_sensorgt_link","iris4::iris4/load_pose/odometry_sensorgt_link"]</rosparam>
	<node name="ros_mocap" pkg="mocap" type="ros_mocap_sim.py" respawn="true" output="screen">
	</node>
  </group>
  <group unless="$(arg simulation)">
          <rosparam param="/frequency">30.</rosparam>
	  <rosparam param="/body_array">[8,16,17,21,22]</rosparam>

	  <rosparam param="/body_names">["iris1","iris2","iris3","iris4"]</rosparam>
	  <node name="ros_mocap" pkg="mocap" type="ros_mocap.py" respawn="true" output="screen">
	  </node>
  </group>

</launch> 
