<launch>

	<arg name="ns" value="iris3"/>

	<arg name="simulation"/>

	<arg name="launch" default="false"/>

	<group ns="$(arg ns)">
        	<param name="obstacle_avoidance" type="bool" value="False"/>
	</group>
	<group unless="$(arg simulation)">


		<group ns="$(arg ns)">


			<group ns="mavros">
				<param name="fcu_url" value="/dev/ttyUSB0:57600" />
				<param name="gcs_url" value="udp://127.0.0.1:14556@127.0.0.1:14551" />
				<param name="target_system_id" value="1" />
				<param name="target_component_id" value="1" />
			</group>
			
			<param name="body_id" value="16"/>

	<!-- CONTROLLER -->
	<!-- Main values -->
			<param name="CONTROLLER_FREQUENCY" value="30"/>
			<param name="PID_CONTROL_CANCEL_GRAVITY" value="1400"/>
			<param name="PID_CONTROL_ARMING_MIN" value="1030"/>
			<param name="PID_Ktt" value="1500"/>
			<param name="PID_Kphi" value="1500"/>
			<param name="PID_w" value="1."/>
			<param name="PID_w_z" value="1.0"/>
			<param name="PID_N_yaw" value="500"/>
			<param name="PID_K_yaw" value="2"/>
			<param name="PID_w_inf" value="2"/>
			<param name="PID_I_lim" value="2."/>
			<param name="PID_K_i" value="1."/>
	<!-- Unimportant values -->
		<!-- <param name="PID_CONTROL_MIN" value="1000"/>
		<param name="PID_CONTROL_NEUTRAL" value="1500"/>
		<param name="PID_CONTROL_MAX" value="2000"/>
		<param name="PID_CONTROL_ARMING_MIN" value="1025"/>
		<param name="PID_x_i" value="math.sqrt(2)/2"/>
		<param name="PID_Kp" value="w*w"/>
		<param name="PID_Kv" value="2*x_i*w"/>
		<param name="PID_Kv_z" value=" w_z*w_z"/>
		<param name="PID_Kp_z" value=" 2*x_i*w_z"/> -->
		</group>
	</group>

	<group if="$(arg simulation)">
		<group if="$(arg launch)">
			<include file="$(find simulator)/launch/iris.launch">

				<arg name="ns" value="$(arg ns)"/>
				
				<arg name="body_id" value="3"/>
				<arg name="docker" value="docker-iris-3"/>
				

				<arg name="x" default="0.0"/>
				<arg name="y" default="0.0"/>

				<arg name="suspended_load" default="false"/>
				<arg name="load_link_height" default="1"/> <!-- [m] -->
				<arg name="load_mass" default="1"/> <!-- [kg] -->
			</include>


	<!-- CONTROLLER -->
	<!-- Main values -->
			<param name="PID_CONTROL_CANCEL_GRAVITY" value="1370"/>
			<param name="PID_CONTROL_ARMING_MIN" value="1030"/>
			<param name="PID_Ktt" value="100"/>
			<param name="PID_Kphi" value="100"/>
			<param name="PID_w" value="0.2"/>
			<param name="PID_w_z" value="0.5"/>
			<param name="PID_N_yaw" value="500"/>
			<param name="PID_K_yaw" value="2"/>
			<param name="PID_w_inf" value="2"/>
			<param name="PID_I_lim" value="0.5"/>
			<param name="PID_K_i" value="1"/>
	<!-- Unimportant values -->
		<!-- <param name="PID_CONTROL_MIN" value="1000"/>
		<param name="PID_CONTROL_NEUTRAL" value="1500"/>
		<param name="PID_CONTROL_MAX" value="2000"/>
		<param name="PID_CONTROL_ARMING_MIN" value="1025"/>
		<param name="PID_x_i" value="math.sqrt(2)/2"/>
		<param name="PID_Kp" value="w*w"/>
		<param name="PID_Kv" value="2*x_i*w"/>
		<param name="PID_Kv_z" value=" w_z*w_z"/>
		<param name="PID_Kp_z" value=" 2*x_i*w_z"/> -->
		</group>
	</group>
</launch>
