<launch>

	<arg name="ns" value="iris1"/>

	<arg name="simulation"/>

	<arg name="launch" default="false"/>

	<group ns="$(arg ns)">
        	<param name="obstacle_avoidance" type="bool" value="False"/>
	</group>
	<group unless="$(arg simulation)">


		<group ns="$(arg ns)">


			<group ns="mavros">
				<param name="fcu_url" value="/dev/ttyUSB1:57600" />
				<param name="gcs_url" value="udp://127.0.0.1:14556@127.0.0.1:14551" />
				<param name="target_system_id" value="1" />
				<param name="target_component_id" value="1" />
			</group>
			
			<param name="body_id" value="13"/>

	<!-- CONTROLLER -->
	<!-- Main values -->
			<param name="controller_type" value="PID"/>
			<param name="CONTROLLER_FREQUENCY" value="30"/>
			<param name="CONTROL_CANCEL_GRAVITY" value="1600"/>
			<param name="CONTROL_ARMING_MIN" value="1030"/>
			<param name="N_yaw" value="500"/>
			<param name="K_yaw" value="2"/>
			<param name="w_inf" value="2"/>
			<param name="Ktt" value="1500"/>
			<param name="Kphi" value="1500"/>
			<param name="PID_w" value="1."/>
			<param name="PID_w_z" value="1."/>

			<param name="PID_I_lim" value="0."/>
			<param name="PID_K_i" value="0."/>
			<param name="PID_I_lim_z" value="0."/>
			<param name="PID_K_i_z" value="0."/>
                        <param name="OBSTACLE_AVOIDANCE_K" value="1."/>
                        <param name="OBSTACLES_TO_AVOID" value="[8,16,17]"/>
                        <param name="my_id" value="15"/>

	<!-- Unimportant values -->
		<!-- <param name="CONTROL_MIN" value="1000"/>
		<param name="CONTROL_NEUTRAL" value="1500"/>
		<param name="CONTROL_MAX" value="2000"/>
		<param name="CONTROL_ARMING_MIN" value="1025"/>
		<param name="PID_x_i" value="math.sqrt(2)/2"/>
		<param name="PID_Kp" value="w*w"/>
		<param name="PID_Kv" value="2*x_i*w"/>
		<param name="PID_Kv_z" value=" w_z*w_z"/>
		<param name="PID_Kp_z" value=" 2*x_i*w_z"/> -->
		</group>
	</group>

	<group if="$(arg simulation)">

		<group ns="$(arg ns)">


			<group ns="mavros">
				<param name="fcu_url" value="/dev/ttyUSB0:57600" />
				<param name="gcs_url" value="udp://127.0.0.1:14556@127.0.0.1:14551" />
				<param name="target_system_id" value="1" />
				<param name="target_component_id" value="1" />
			</group>
			
			<param name="body_id" value="8"/>
			<param name="load_id" value="11"/>

	<!-- CONTROLLER -->
	<!-- Main values -->
			<param name="controller_type" value="PID"/>
			<param name="CONTROL_CANCEL_GRAVITY" value="1400"/>
			<param name="CONTROL_ARMING_MIN" value="1030"/>
			<param name="Ktt" value="500"/>
			<param name="Kphi" value="1500"/>
			<param name="PID_w" value="2.0"/>
			<param name="PID_w_z" value="3."/>
			<param name="N_yaw" value="500"/>
			<param name="K_yaw" value="0.1"/>
			<param name="w_inf" value="0.2"/>
			<param name="PID_I_lim" value="0."/>
			<param name="PID_K_i" value="0."/>
			<param name="OBSTACLE_AVOIDANCE_K" value="1.5"/>
            		<param name="OBSTACLES_TO_AVOID" value="[2]"/>
            		<param name="my_id" value="1"/>
            		<param name="PID_I_lim_z" value="0.5"/>
			<param name="PID_K_i_z" value="0.2"/>

	<!-- Unimportant values -->
		<!-- <param name="CONTROL_MIN" value="1000"/>
		<param name="CONTROL_NEUTRAL" value="1500"/>
		<param name="CONTROL_MAX" value="2000"/>
		<param name="CONTROL_ARMING_MIN" value="1025"/>
		<param name="PID_x_i" value="math.sqrt(2)/2"/>
		<param name="PID_Kp" value="w*w"/>
		<param name="PID_Kv" value="2*x_i*w"/> -->
		</group>
		<group if="$(arg launch)">
			<include file="$(find simulator)/launch/iris.launch">

				<arg name="ns" value="$(arg ns)"/>
				
				<arg name="body_id" value="1"/>
				<arg name="docker" value="docker-iris-1"/>
				

				<arg name="x" default="0.0"/>
				<arg name="y" default="0.0"/>

				<arg name="suspended_load" default="false"/>
				<arg name="load_link_height" default="5.0"/> <!-- [m] -->
				<arg name="load_mass" default="0.01"/> <!-- [kg] -->
			</include>
		</group>
	</group>
</launch>
